services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:v0.3.35
    container_name: open-webui
    ports:
      - "3000:8080"
    volumes:
      - open-webui:/app/backend/data
    env_file:
      - .env
    restart: always

volumes:
  open-webui: